body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #4b68fa;
    padding: 20px;
}

h1 {
  font-weight: bold;
  font-size: 6em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;

}

.text-gradient {
    padding:0;
    margin:0;
    font-size: 32px;
    background-color: red;
    display: inline;
  
  /* Create the gradient. */
  background-image: linear-gradient(-90deg, rgba(255,0,0,1) -40%, rgba(255,228,0,1) 140%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}

.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://64.media.tumblr.com/12d3eb26d3ca0550d42090c3f75e4790/fb08b11d1a4cd0f6-c7/s1280x1920/b5ecbfd14f9c9dbbb351667769aeca2a220efb4b.gifv);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity:50%;
}

.chamada {
    background-color: #000;
    /*background-image: linear-gradient(43deg, #4158D0 -100%, #C850C0 50%, #FFCC70 200%);*/
    /* filter: sa; */
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    height: 100%;
    width: 100%;
}


.chamada-texto {
    margin-right: 5%;
    opacity: 100%;
}

.chamada-texto a{
    color: #EEEE;
}
.chamada-texto a:hover{
    color: #CCC;
    -webkit-box-shadow:0px 0px 128px 12px rgba(255,46,46,0.85);
-moz-box-shadow: 0px 0px 128px 12px rgba(255,46,46,0.85);
box-shadow: 0px 0px 128px 12px rgba(255,46,46,0.85);
    text-decoration: none;
    transition: 1s;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: #ba46d4;
}